DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mydb?schema=public"
PORT="3000"
NODE_ENV="development"
FRONTEND_URL="*"
JWT_SECRET="dee723394df92c0526ee795c248adb399d52d12aef2a581e5009803345a1fc85"
JWT_EXPIRES_IN="7d"
